
#right{
    position: relative;
    width: 70px;
    height: 20px; 
}
#right:hover{
    background-color:lightgreen ;
}

h1{
    color: lightgreen;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
p{
    color: lightgreen;
    text-align: center;
    font-size: 30px;
    
}

body{
    background-color: darkgreen;
}

.button1{
    position: relative;
}
.button1:hover{
    background-color:lightgreen ;
}
