body{
    
    background-image: url(img/US-Open-Womens-Final-slide-T2QR-superJumbo.jpg);
    background-image: 100%;
    background-image: no-repeat;
    
}

.title h1{
    background-color: blueviolet;
    text-align: center;
}

.logo img{
    position:absolute;
    max-height: auto;
    max-width: 200px;
   filter: drop-shadow(5px 5px 5px  white)

}